body{
    background-color: #DCDCDC;
}

h1{
    font-family: FBSuperFun;
    font-size: 200px;
    background-color: #FFD700;
    border: 2px black solid;
    margin-bottom: 2px;
    padding-bottom: 2px;
    height: 250px;
    text-align: center;
}
