body{
    background-color: #DCDCDC;
    text-align: center;
}

h1{
    font-family: FBSuperFun;
    font-size: 200px;
    background-color: #FFD700;
    border: 2px black solid;
    margin-bottom: 2px;
    padding-bottom: 2px;
    height: 200px;
    text-align: center;
}
    
div{
    font-family: Zipper-Regular;
    border: 1px black solid;
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 50px;
    text-align: center;
}

div1{
    font-family: Zipper-Regular;
    font-size: 25px;
    text-align: center;
}

strong {
    color: #000;
    font-size: 50px
    text-align: center;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #DCDCDC;
    font-family: Zipper-Regular;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: center;
}

/* Set the layout of the menu: */
.menu-item {
    display: inline-block;
    min-width: 6em;
    text-align: center;
    background-color: #DCDCDC;
}

/* Style the links: */
.menu-item a {
    color: #000000;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #DCDCDC;
   
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #fff;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #a2a2a2;
}

.image-container {
  text-align: center;
}

.mainimage{
    float: center;
    text-align: center;
    content:url("../images/stock_cel.jpeg");

}

@media only screen and (min-width: 550px) {
    .mainimage{
        content:url("../images/stock_cel.jpeg");
    }
}

    
