body{
    background-color: #DCDCDC;
}

h1{
    font-family: FBSuperFun;
    font-size: 200px;
    background-color: #FFD700;
    border: 2px black solid;
    margin-bottom: 2px;
    padding-bottom: 2px;
    height: 200px;
    text-align: center;
}
    
div{
    font-family: Zipper-Regular;
    font-size: 50px;
    text-align: left;
}

.mainimage{
    float: center;
    content:url("../images/stock_cel.jpeg");

}

@media only screen and (min-width: 550px) {
    .mainimage{
        content:url("../images/stock_cel.jpeg");
    }
}

    
